<div primer-variant="<%= @variant.to_s %>">
  <%= shadow %>
  <%= body %>
  <%= icon %>
  <% if actions? %>
    <% actions.each do |action| %>
      <div slot="actions"><%= action %></div>
    <% end %>
  <% end %>
</div>
