<h2>Rails rendered</h2>
<%= render Flash.new do |c| %>
  <%= c.with_body { "Hello World!" } %>
<% end %>
<br />
<%= render Flash.new(variant: :success) do |c| %>
  <%= c.with_body { "Successful World" } %>
  <%= c.with_icon(name: "squirrel") %>
<% end %>
<br />
<%= render Flash.new(variant: :warning) do |c| %>
  <%= c.with_body { "Uh oh World" } %>
  <%= c.with_action do %>
    <button>Dang!</button>
  <% end %>
<% end %>
<br />
<%= render Flash.new(variant: :danger) do |c| %>
  <%= c.with_body { "Bad World!" } %>
<% end %>

<h2>React rendered</h2>
<div id="react-root"></div>
